.leftSideCart {
  width: 80%;
  border: 1px solid #ececec;
  margin-right: 30px;
  border-radius: 4px;
  /* padding: 13px 27px; */
}

.rightSideCart {
  width: 20%;
  border: 1px solid #ececec;
  background: white;
  height: 203px;
  border-radius: 4px;
}

.title_cart {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 350px;
}
